@media (max-width: 719px) {
  .controls > .col-md-auto {
    margin-bottom: 8px;
  }
}

.chart {
  margin: 20px 0;
}

.input-group-text {
  cursor: default;
}

.react-date-picker__wrapper {
  border: none;
}

.table thead th {
  border-top: none;
}